    <footer>
                    <div class="fot-left">
                <div class="fot-logo">
                    <img src="/Foto/Logo-Bianco.svg">
                </div>
                <div class="fot-icon">
                    <div class="fot-icon-row">
                   <a href="mailto:italyscasa@libero.it?subject=Richiesta%20di%20informazioni&body=Ciao,%20vorrei%20avere%20maggiori%20informazioni.">
                       <img src="/Foto/Icon/Gmail.svg">
                   </a> 
                   <a href="https://www.facebook.com/profile.php?id=61551668563870">
                       <img src="/Foto/Icon/Facebook.svg">
                   </a> 
                   <a href="https://www.youtube.com/@ItalysCasa">
                       <img src="/Foto/Icon/Youtube.svg">
                   </a> 
                </div>
                   <div class="fot-icon-row">
                   <a href="https://www.instagram.com/italyscasa/">
                       <img src="/Foto/Icon/Instagram.svg">
                   </a> 
                   <a href="https://www.tiktok.com/@italyscasa1">
                       <img src="/Foto/Icon/Tiktok.svg">
                   </a> 
                   <a href="#">
                       <img src="/Foto/Icon/Telegram.svg">
                   </a> 
                </div>
                </div>
             </div>
             <div class="fot-cent">
                 <h1>Italys Casa</h1>
                 <a href="/lavoro" class="h2">Lavora con noi</a>
                 <a href="" class="h2">Chi siamo</a>
                 <a href="" class="h2">News dal Gruppo Italys Casa</a>
                 <a href="" class="h2">Responsabilità sociale</a>
                 <a href="" class="h2">Responsabilità ambientale</a>
             </div>
             <div class="fot-cent1">
                 <a href="https://scarfonesrl.it/" class="h1">Scarfone S.R.L.</a>
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2">Impresa Edile</a>
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2">Ristruttazioni</a>
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2">Idraulico/Elettricista</a>                 
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2">Tinteggiature</a>
                 <a href="tel:+393288325437" class="h3">+39 328 832 5437</a>
             </div>                            
             <div class="fot-right">
                 <div class="fot-map">
                     <img src="/Foto/HomeFoto/footer.jpg">
                 </div>
                 <div class="fot-but">
                     <p>Numero utenti: <span id="visitor-count">79 910</span></p>
                     <a href="/cookies">Impostazioni Cookies </a>
                 </div>
             </div>
    </footer>
