    <footer>
                    <div class="fot-left">
                <div class="fot-logo">
                    <img alt="immobiliare a Scalea" src="/Foto/Logo-Bianco.svg">
                </div>
                <div class="fot-icon">
                    <div class="fot-icon-row">
                   <a href="mailto:italyscasa@libero.it?subject=Richiesta%20di%20informazioni&body=Ciao,%20vorrei%20avere%20maggiori%20informazioni.">
                       <img alt="lasciare una richiesta immobiliare" src="/Foto/Icon/Gmail.svg">
                   </a> 
                   <a href="https://www.facebook.com/profile.php?id=61551668563870">
                       <img alt="Immobiliare e Facebook" src="/Foto/Icon/Facebook.svg">
                   </a> 
                   <a href="https://www.youtube.com/@ItalysCasa">
                       <img alt="Appartamenti e Ville, Video" src="/Foto/Icon/Youtube.svg">
                   </a> 
                </div>
                   <div class="fot-icon-row">
                   <a href="https://www.instagram.com/italyscasa/">
                       <img alt="Alloggi in Italia su Instagram" src="/Foto/Icon/Instagram.svg">
                   </a> 
                   <a href="https://www.tiktok.com/@italyscasa1">
                       <img alt="Le migliori soluzioni abitative in Italia" src="/Foto/Icon/Tiktok.svg">
                   </a> 
                   <a href="#">
                       <img alt="Forum sulla vita in Italia" src="/Foto/Icon/Telegram.svg">
                   </a> 
                </div>
                </div>
             </div>
             <div class="fot-cent">
                 <h1 data-i18n="footer_italyscasa">Italys Casa</h1>
                 <a href="/lavoro" class="h2" data-i18n="footer_work">Work with us</a>
                 <a href="" class="h2" data-i18n="footer_about">About Us</a>
                 <a href="" class="h2" data-i18n="footer_news">News of the ItalysCasa group</a>
                 <a href="" class="h2" data-i18n="footer_social">Social Responsibility</a>
                 <a href="" class="h2" data-i18n="footer_env">Environmental Responsibility</a>
             </div>
             <div class="fot-cent1">
                 <a href="https://scarfonesrl.it/" class="h1" data-i18n="footer_scarfone">Scarfone S.R.L.</a>
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2" data-i18n="footer_construction">Construction Company</a>
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2" data-i18n="footer_renovation">Renovations</a>
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2" data-i18n="footer_tech">Plumber/Electrician</a>                 
                 <a href="https://scarfonesrl.it/perizie-immobiliare/" class="h2" data-i18n="footer_paint">Paintings</a>
                 <a href="tel:+393288325437" class="h3">+39 328 832 5437</a>
             </div>                            
             <div class="fot-right">
                 <div class="fot-map">
                     <img alt="Real estate agency in Italy" src="/Foto/HomeFoto/footer.webp" loading="lazy">
                 </div>
                 <div class="fot-but">
                     <p data-i18n="footer_users">Number of users: <span id="visitor-count">79 910</span></p>
                     <a href="/cookies" data-i18n="footer_cookie">Cookie Settings</a>
                     <a href="/cookies" class="termly-display-preferences" data-i18n="footer_consent">Consent Preferences</a> 
                 </div>
             </div>
    </footer>
