<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5M3T97HB');</script>
  <!-- End Google Tag Manager -->

  <!-- Остальное -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% else %}
  <meta name="description" content="ItalysCasa - Agenzia immobiliare in Calabria, vendita, affitto, consulenza.">
{% endif %}
  <title>{% if page.title %}{{ page.title }} | ItalysCasa{% else %}ItalysCasa{% endif %}</title>
  <link rel="stylesheet" href="/styles/Common.css">
  {% if page.fileSlug.startsWith('anunci') %}
    <link rel="stylesheet" href="/styles/anunci.css">
  {% endif %}
  
  <nav id="breadcrumbs" class="breadcrumbs"></nav>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/Foto/Icon/favicon.svg" type="image/svg+xml">
  <link rel="alternate icon" href="/Foto/Icon/favicon.svg" type="image/x-icon">
  
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5M3T97HB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include "header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <script src="/script/Common.js"></script>
</body>
</html>
