---
layout: layout.njk
title: Cerca Agenzia
description: Kiinteistönvälitystoimisto Calabrian alueella, osto ja myynti, vuokraus, paperityöt, apu kaupan kaikissa vaiheissa.
---

<link rel="stylesheet" type="text/css" href="/styles/affitti.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
<section class="hero-section">
        <div class="offscreen">
            <!-- italia -->
            <h2>Affittacamere economici in Toscana</h2>
            <ul>
                <li>Stanze con colazione inclusa</li>
                <li>B&B con vista mare</li>
                <li>Trasferimenti dall'aeroporto</li>
                <li>Taxi privati per tour turistici</li>
                <li>Escursioni in barca privata</li>
                <li>Barca a motore per vacanze</li>
                <li>Noleggio barche in Italia</li>
                <li>Noleggio catamarano con skipper</li>
                <li>Piccoli hotel di charme</li>
                <li>Noleggio auto con autista in Italia</li>
            </ul>
            <!-- England -->
            <h2>Living in Italy</h2>
            <ul>
                <li>Mediterranean climate</li>
                <li>Beach life in Italy</li>
                <li>Rental yield in Italy</li>
                <li>Property management services</li>
                <li>Luxury property investments</li>
                <li>Natural light</li>
                <li>Ground-floor properties</li>
                <li>Luxury villas</li>
                <li>Detached houses</li>
                <li>Sea view</li>
            </ul>
            <!-- Germania -->
            <h2>Wohnungen zum Verkauf in Italien</h2>
            <ul>
                <li>Steuern für Immobilienbesitzer</li>
                <li>Immobilien für den Urlaub</li>
                <li>Ferienwohnungen in Tropea</li>
                <li>Ländliche Immobilien in Italien</li>
                <li>Investitionsmöglichkeiten im Süden Italiens</li>
                <li>Häuser in Sizilien</li>
                <li>Bauernhaus</li>
                <li>Landhaus</li>
                <li>Zwei-Zimmer-Wohnung</li>
                <li>Dachgeschosswohnung</li>
            </ul>
            <!-- Russia -->
            <h2>Квартира</h2>
            <ul>
                <li>Студия</li>
                <li>Аренда для отдыха в Италии</li>
                <li>Долгосрочная аренда</li>
                <li>Airbnb-недвижимость в Италии</li>
                <li>Рентабельность аренды в Италии</li>
                <li>Жизнь в Италии</li>
                <li>Средиземноморский климат</li>
                <li>Пляжная жизнь в Италии</li>
                <li>Квартиры в Тропея</li>
                <li>Плюсы и минусы покупки дома в Италии</li>
            </ul>
            <!-- Finlandia -->
            <h2>Merinäkymät Italiassa</h2>
            <ul>
                <li>Kalabrian alue</li>
                <li>Etelä-Italia</li>
                <li>Maatila</li>
                <li>Historiallinen talo</li>
                <li>Asunnot Italiassa</li>
                <li>Talon ostaminen Italiassa</li>
                <li>Rannalle sijoittuvat talot</li>
                <li>Talon remontti Italiassa</li>
                <li>Asuntojen katutaso</li>
                <li>Kotien myynti ja vuokraus</li>
            </ul>
            <!-- Chechia -->
            <h2>Byty k prodeji v Itálii</h2>
            <ul>
                <li>Nákup nemovitostí v Itálii</li>
                <li>Rodinné domy v Kalábrii</li>
                <li>Moderní dům u moře</li>
                <li>Nemovitosti s dlouhodobým pronájmem</li>
                <li>Prodej nemovitostí u jezera</li>
                <li>Pronájem bytů v Itálii</li>
                <li>Rekonstruované nemovitosti</li>
                <li>Moderní byty v centru</li>
                <li>Domy s bazénem</li>
                <li>Investice do italské nemovitosti</li>
            </ul>
            <!-- Polonia -->
            <h2>Nieruchomości we Włoszech</h2>
            <ul>
                <li>Dom nad morzem w Kalabrii</li>
                <li>Zakup nieruchomości we Włoszech</li>
                <li>Domy z basenem</li>
                <li>Nowoczesne mieszkania w centrum</li>
                <li>Cicha dzielnica</li>
                <li>Chatki na wakacje</li>
                <li>Konserwacja nieruchomości</li>
                <li>Blisko sklepów i restauracji</li>
                <li>Stare tradycyjne domy</li>
                <li>Ekologiczne domy</li>
            </ul>
            <!-- Lituania -->
            <h2>Nekilnojamasis turtas Italijoje</h2>
            <ul>
                <li>Namo pirkimas Italijoje</li>
                <li>Namai prie jūros Kalabrijoje</li>
                <li>Vaizdas į jūrą</li>
                <li>Senų namų renovacija</li>
                <li>Namai arti viešųjų paslaugų</li>
                <li>Namų šildymo sistemos</li>
                <li>Senoviniai tradiciniai namai</li>
                <li>Butų įrengimas</li>
                <li>Namo vieta žemėlapyje</li>
                <li>Vandens tiekimas į namus</li>
            </ul>                                                                                    
        </div>
	<div class="up-section">
	<h1 data-i18n="afit_h1">Book your holiday in Scalea</h1>
	</div>
	<div class="center-section">

<div class="left">
  <div class="block-agen">
    <div class="sec1">
      <img src="/Foto/yaht1.webp" alt="Bed and breakfast in Scalea">
      <h2 data-i18n="afit1_title">Boat Rental</h2>
      <h3 data-i18n="afit1_desc">Book a boat, rent easily</h3>
      <a href="/boat" class="glass-link">
        <button class="glass-button" data-i18n="afit_butt">Look</button>
      </a>
    </div>

    <div class="sec2">
      <img src="/Foto/bnb1.webp" alt="Apartment for Rent">
      <h2 data-i18n="afit2_title">Bed & Breakfast</h2>
      <h3 data-i18n="afit2_desc">Apartments, Bed & Breakfasts and rooms for rent</h3>
      <a href="/bnb" class="glass-link">
        <button class="glass-button" data-i18n="afit_butt">Look</button>
      </a>
    </div>

    <div class="sec3">
      <img src="/Foto/taxi1.webp" alt="Taxi Service in Calabria">
      <h2 data-i18n="afit3_title">Transport service</h2>
      <h3 data-i18n="afit3_desc">Order a private Business Class transfer from the airports of: Rome, Naples and Lamezia Terme</h3>
      <a href="/transfer" class="glass-link">
        <button class="glass-button" data-i18n="afit_butt">Look</button>
      </a>
    </div>
  </div>
</div>

		<div class="right">
					          <!-- Форма обратной связи -->
            <div class="contact-form" id="contactForm">
                         <!-- Блок ввода данных -->
            <div class="form-content" id="inputForm">
                <h3 data-i18n="form_h3">Ask us a question</h3>
            <label for="phone" data-i18n="form_tel">Telephone:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="name" data-i18n="form_name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="surname" data-i18n="form_surname">Surname:</label>
            <input type="text" id="surname" name="surname" required>
                         
            <label for="city" data-i18n="nav_email">Mail:</label>
            <input type="mail" id="mail" name="mail" required>         

            <button class="submit-button" id="submitButton" type="button" data-i18n="form_butt">Send</button>
        </div>

                  <!-- Блок благодарности -->
            <div class="thank-you-message" id="thankYouMessage" style="display: none;">
                <h3 data-i18n="form_thank">Thank you for your request!</h3>
                <p data-i18n="form_thank_p">Our manager will contact you shortly for a more detailed consultation..</p>
            </div>
           </div>
		</div>
	</div>	

</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="/script/valut.js"></script> 