---
layout: layout.njk
title: Cerca Agenzia
---

<link rel="stylesheet" type="text/css" href="/styles/affitti.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">

<section class="hero-section">
	<div class="up-section">
	<h1>Prenota la tua vacanza a Scalea</h1>
	</div>
	<div class="center-section">
<div class="left">
    <div class="block-agen">
        {% for afit in collections.affitii %}
            <div class="sec{{ loop.index }}">
                <!-- Изображение -->
                {% if afit.data.images and afit.data.images[0] %}
                    <img src="/{{ afit.data.images[0] }}" alt="{{ afit.data.nome }}">
                {% else %}
                    <img src="/Foto/default.jpg" alt="Default Image">
                {% endif %}

                <!-- Название -->
                <h2>{{ afit.data.nome }}</h2>

                <!-- Описание -->
                <h3>{{ afit.data.primoinfo }}</h3>

                <!-- Ссылка -->
                <a href="/affittipage/{{ afit.fileSlug }}/" class="glass-link">
                <button class="glass-button">Guarda</button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
		<div class="right">
					          <!-- Форма обратной связи -->
            <div class="contact-form" id="contactForm">
                         <!-- Блок ввода данных -->
            <div class="form-content" id="inputForm">
                <h3>Facci una domanda</h3>
            <label for="phone">Telefono:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>

            <label for="surname">Cognome:</label>
            <input type="text" id="surname" name="surname" required>
                         
            <label for="city">Mail:</label>
            <input type="mail" id="mail" name="mail" required>         

            <button class="submit-button" id="submitButton" type="button">Inviare</button>
        </div>

                  <!-- Блок благодарности -->
            <div class="thank-you-message" id="thankYouMessage" style="display: none;">
                <h3>Grazie per la tua richiesta!</h3>
                <p>Il nostro responsabile ti contatterà a breve per una consulenza più dettagliata..</p>
            </div>
           </div>
		</div>
	</div>	

</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="/script/valut.js"></script> 