---
layout: layout.njk
title: Blog
---

<link rel="stylesheet" type="text/css" href="/styles/blog.css">
<meta name="description" content="" />
<section class="hero-section">
        <div class="offscreen">
            <!-- italia -->
            <h2>Montagna calabrese</h2>
            <ul>
                <li>Parco nazionale della Sila</li>
                <li>Parco nazionale dell'Aspromonte</li>
                <li>Immobili con vista panoramica</li>
                <li>Arcomagno san nicola arcella</li>
                <li>Maratea Porto </li>
                <li>Maratea centro storico potro turistico</li>
                <li>Belvedere marittimo porto turistico</li>
                <li>Sanginetto, Fuscaldo, Guardia piamontese</li>
                <li>Tortora</li>
                <li>Marina di Maratea</li>
                <li>Farmacie</li>
                <li>Centro</li>
                <li>Pista da Corsa</li>
                <li>Autodromo</li>
                <li>Desain Interior</li>
            </ul>
            <!-- England -->
            <h2>Cultural heritage of Italy</h2>
            <ul>
                <li>Food and wine in Italy</li>
                <li>Italian architecture</li>
                <li>Historical landmarks</li>
                <li>Local festivals in Italy</li>
                <li>Community life in Italy</li>
                <li>Italian language courses</li>
                <li>Healthcare in Italy</li>
                <li>Education system in Italy</li>
                <li>Italian cuisine</li>
                <li>Retirement in Italy</li>
            </ul>
            <!-- Germania -->
            <h2>Leben in Italien</h2>
            <ul>
                <li>Kulturelles Erbe Italiens</li>
                <li>Essen und Wein in Italien</li>
                <li>Italienische Architektur</li>
                <li>Historische Sehenswürdigkeiten</li>
                <li>Lokale Feste in Italien</li>
                <li>Gemeinschaftsleben in Italien</li>
                <li>Italienischkurse</li>
                <li>Gesundheitssystem in Italien</li>
                <li>Bildungssystem in Italien</li>
                <li>Öffentlicher Nahverkehr in Italien</li>
            </ul>
            <!-- Russia -->
            <h2>Историческое здание</h2>
            <ul>
                <li>Культурное наследие Италии</li>
                <li>Еда и вино в Италии</li>
                <li>Итальянская архитектура</li>
                <li>Преимущества владения домом в Италии</li>
                <li>Как найти надежное агентство недвижимости в Италии?</li>
                <li>Советы по инвестированию в итальянскую недвижимость</li>
                <li>Какие документы нужны для покупки недвижимости?</li>
                <li>На что обратить внимание при покупке виллы в Италии?</li>
                <li>Дома в Реджо-ди-Калабрия</li>
                <li>Горная недвижимость в Национальном парке Сила</li>
            </ul>
            <!-- Finlandia -->
            <h2>Mutuo in immobiliare</h2>
            <ul>
                <li>saunatilat</li>
                <li>turvajärjestelmä</li>
                <li>pääsy pyörällä</li>
                <li>Mökin etäisyys kaupungista</li>
                <li>ilmastointi</li>
                <li>varastotila</li>
                <li>lähiympäristö</li>
                <li>akustiikka</li>
                <li>Talon rakennusvuosi</li>
                <li>Byty s bezbariérovým přístupem</li>
            </ul>
            <!-- Chechia -->
            <h2>Byty s výhledem na horu</h2>
            <ul>
                <li>Byty s možností rekonstrukce</li>
                <li>Domy s možností pronájmu</li>
                <li>Mieszkania nad brzegiem morza</li>
                <li>Jakość szyb w oknach</li>
                <li>Ogród przy domu</li>
                <li>Mieszkania na parterze</li>
                <li>Kaimynų bendruomenė</li>
                <li>Namo statybos metai</li>
                <li>Butų įrengimo pasiūlymai</li>
                <li>Ežerų artumo sodybos</li>
            </ul>
            <!-- Ireland -->
            <h2>Máistreachtaí in Iodáil</h2>
            <ul>
                <li>Teach faoi gheasa ar an trá i nCalabria</li>
                <li>Ceannach maistreachtaí in Iodáil</li>
                <li>Teach nua-aimseartha cóngarach don trá</li>
                <li>Infheistíocht i máistreachtaí Iodálacha</li>
                <li>Cíos ar árasáin in Iodáil</li>
                <li>Árasáin nua-aimseartha sa lár</li>
                <li>Radharc ar an gcuan</li>
                <li>Máistreachtaí athchóirithe</li>
                <li>Tithe le poll snámha</li>
                <li>Villas luachmhar in Iodáil</li>
            </ul>
            <!-- Denmark -->
            <h2>Ejerboliger i Italien</h2>
            <ul>
                <li>Hus ved havet i Calabrien</li>
                <li>Køb af ejendomme i Italien</li>
                <li>Moderne hus nær stranden</li>
                <li>Investering i italiensk fast ejendom</li>
                <li>Leje af lejligheder i Italien</li>
                <li>Luksusvillor i Italien</li>
                <li>Huse med swimmingpool</li>
                <li>Renoverede boliger</li>
                <li>Udsigt over havet</li>
                <li>Moderne lejligheder i centrum</li>
            </ul>                                                                                    
        </div>
	<div class="up-section">
	    <div class="blur-box1"></div>
	    <div class="blur-box"></div>
		<h1 data-i18n="blog_h1">Blog</h1>
		<h3 data-i18n="blog_h3">To discover Italy and its beauties</h3>
	</div>

	    <section id="services">
<div class="serv-info">  
  <div id="blog-container" class="serv-block">
    <!-- Сюда блоки будут прилетать через JS -->
  </div>
</div>
<div class="pagination" id="pagination-container"></div>

    </section>
</section> 

<script src="/script/blog-list.js" defer></script>