---
layout: layout.njk
description: Realitní kancelář v regionu Kalábrie, nákup a prodej, pronájem, papírování, asistence ve všech fázích transakce.
---

<link rel="stylesheet" type="text/css" href="/styles/affittipage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"> 
<section class="hero-section">

        <div class="offscreen">
            <!-- italia -->
            <h2>Yacht a noleggio sul Mediterraneo</h2>
            <ul>
                <li>Servizio navetta per le spiagge</li>
                <li>Offerte immobiliari</li>
                <li>Case vicino al mare</li>
                <li>B&B in vendita</li>
                <li>Affitto stagionale</li>
                <li>Affitto casa vacanze</li>
                <li>ville di lusso </li>
                <li>Prenota la tua vacanza a scalea</li>
                <li>Immobili storici </li>
                <li>Prezzo di vendita casa</li>
                <li>Scuole</li>
                <li>Chiese</li>
                <li>Stadio</li>
                <li>Campo Golf</li>
                <li>Piazze Monumenti</li>
            </ul>
            <!-- England -->
            <h2>Apartments for sale in Italy</h2>
            <ul>
                <li>Property valuation in Italy</li>
                <li>Semi-detached houses</li>
                <li>Modern villas</li>
                <li>Mountain view</li>
                <li>Property investment in Italy</li>
                <li>Long-term rental properties</li>
                <li>Airbnb properties in Italy</li>
                <li>Seasonal rentals</li>
                <li>Passive income from rentals</li>
                <li>Real estate portfolio growth</li>
            </ul>
            <!-- Germania -->
            <h2>Immobilieninvestitionen in ItalienFerienvermietungen in Italien</h2>
            <ul>
                <li>Ferienvermietungen in Italien</li>
                <li>Langzeitmiete</li>
                <li>Airbnb-Immobilien in Italien</li>
                <li>Buy-to-Let-Immobilien</li>
                <li>Saisonmieten</li>
                <li>Ferienhäuser in Italien</li>
                <li>Investitionsmöglichkeiten in Kalabrien</li>
                <li>Luxusimmobilieninvestitionen</li>
                <li>Passive Einkommensquellen</li>
                <li>Mietrendite in Italien</li>
            </ul>
            <!-- Russia -->
            <h2>Buy-to-Let-недвижимость</h2>
            <ul>
                <li>Доходность итальянской недвижимости</li>
                <li>Сезонная аренда</li>
                <li>Дома для отдыха в Италии</li>
                <li>Услуги управления недвижимостью</li>
                <li>Пассивный доход</li>
                <li>Инвестиции в элитную недвижимость</li>
                <li>Доступные инвестиционные объекты</li>
                <li>Инвестиционные возможности в Калабрии</li>
                <li>Рост портфеля недвижимости</li>
                <li>Традиционный итальянский дом</li>
            </ul>
            <!-- Finlandia -->
            <h2>Omakotitalo Kalabriassa</h2>
            <ul>
                <li>Uudelleenrakennettu koti</li>
                <li>Merinäkymät Italiassa</li>
                <li>Investointi Italiassa</li>
                <li>Vuokrattavat asunnot Italiassa</li>
                <li>Talon ikkunoiden laatuperusteet</li>
                <li>Asuntojen sijainti rannalla</li>
                <li>Mökin puutarha</li>
                <li>Hiljaiset asuinalueet</li>
                <li>Naapuruston yhteisö</li>
                <li>Parvekkeella oleva asunto</li>
            </ul>
            <!-- Chechia -->
            <h2>Luxusní vilky v Itálii</h2>
            <ul>
                <li>Nemovitosti s výhledem na moře</li>
                <li>Rekonstrukce venkovských domů</li>
                <li>Ceny nemovitostí v Itálii</li>
                <li>Domy v klidných oblastech</li>
                <li>Prostorná kuchyně s výhledem</li>
                <li>Byty s moderním designem</li>
                <li>Rodinné domy s více patry</li>
                <li>Domy s venkovní terasou</li>
                <li>Rodinné domy pro velké rodiny</li>
                <li>Nemovitosti s ekologickými technologiemi</li>
            </ul>
            <!-- Polonia -->
            <h2>Nowoczesny dom przy plaży</h2>
            <ul>
                <li>Inwestycje w włoską nieruchomość</li>
                <li>Wynajem mieszkań we Włoszech</li>
                <li>Luksusowe willi we Włoszech</li>
                <li>Odnowione nieruchomości</li>
                <li>Widok na morze</li>
                <li>Remont wiejskich domów</li>
                <li>Ceny nieruchomości we Włoszech</li>
                <li>Przestronna kuchnia z widokiem</li>
                <li>Dwupiętrowy domek</li>
                <li>Elegancki bliźniak</li>
            </ul>
            <!-- Lituania -->
            <h2>Modernus būstas šalia paplūdimio</h2>
            <ul>
                <li>Investicijos į Italijos nekilnojamąjį turtą</li>
                <li>Butų nuoma Italijoje</li>
                <li>Prieš pakrančių esančios sodybos</li>
                <li>Rekonstruoti namai</li>
                <li>Pirmame aukšte esantys butai</li>
                <li>Sodybos sodas</li>
                <li>Langų stiklų kokybė</li>
                <li>Sodyboje turima saunos vieta</li>
                <li>Elektros tiekimas į namus</li>
                <li>Namų saugumo sistemos</li>
            </ul>                                                                                    
        </div>
            <div class="up-section">
    <h1 data-i18n="afit_h1">Book your holiday in Scalea</h1>
    </div>
    <div class="center-section">
<div class="left">
    <div class="bloclf">
        <!-- Верхняя часть -->
        <div class="sopra">
            <div class="sopra-left">
                <img alt="Noleggio barche" src="/Foto/yaht1.webp" alt="Boat Rental">
            </div>
            <div class="sopra-right">
                <div class="right-img">
                    <img alt="Auto per l'aeroporto" src="/Foto/yaht2.webp" alt="Transfer 1">
                    <img alt="Come arrivare a Scalea" src="/Foto/yaht3.webp" alt="Transfer 2">
                </div>
                <div class="right-text">
                    <h2 data-i18n="afit1_title">Boat Rental</h2>
                    <h3 data-i18n="afit1_desc">Book a boat, rent easily</h3>
                </div>
            </div>
        </div>

        <!-- Нижняя часть -->
        <div class="sotto">
            <h3 data-i18n="afit1_text">Experience an unforgettable day on a boat. Affordable prices, maximum comfort and a breathtaking view await you. Perfect for special moments and absolute relaxation.</h3>
        </div>

        <!-- Кнопка -->
        <div class="affbut">
            <a href="https://wa.me/393664973191" class="glass-link">
                <button class="glass-button" id="contatButton" data-i18n="reserv_butt">Reserve</button>
            </a>
        </div>
    </div>
</div>

        <div class="right">
        <!-- Форма обратной связи -->
            <div class="contact-form" id="contactForm">
        <!-- Блок ввода данных -->
        <div class="form-content" id="inputForm">
                <h3 data-i18n="form_h3">Ask us a question</h3>
            <label for="phone" data-i18n="form_tel">Telephone:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="name" data-i18n="form_name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="surname" data-i18n="form_surname">Surname:</label>
            <input type="text" id="surname" name="surname" required>
                         
            <label for="city" data-i18n="nav_email">Mail:</label>
            <input type="mail" id="mail" name="mail" required>         

            <button class="submit-button" id="submitButton" type="button" data-i18n="form_butt">Send</button>
        </div>

                  <!-- Блок благодарности -->
            <div class="thank-you-message" id="thankYouMessage" style="display: none;">
            <h3 data-i18n="form_thank">Thank you for your request!</h3>
            <p data-i18n="form_thank_p">Our manager will contact you shortly for a more detailed consultation..</p>
            </div>
           </div>            
        </div>
    </div>
</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="/script/valut.js"></script> 