---
layout: layout.njk
title: Cerca Agenzia
description: Agencja nieruchomości w regionie Kalabria, kupno i sprzedaż, wynajem, formalności, pomoc na każdym etapie transakcji.
---

<link rel="stylesheet" type="text/css" href="/styles/cerca.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
<section class="hero-section">
        <div class="offscreen">
            <!-- italia -->
            <h2>Immobili in vendita</h2>
            <ul>
                <li>Casa con giardino </li>
                <li>Appartamenti con giardino </li>
                <li>Ville esclusive VIP </li>
                <li>Castelli</li>
                <li>Contratto di vendita case/appartamenti</li>
                <li>Come vendere la casa</li>
                <li>Annuncio vendita casa</li>
                <li>Fasi per vendere casa</li>
                <li>Tecnico immobiliare</li>
                <li>Trilocale</li>
                <li>Piscine</li>
                <li>Imodromo</li>
                <li>Pistesci</li>
                <li>Baie Sella Neve</li>
                <li>Opere Darte</li>
                <li>Antichiata</li>
            </ul>
            <!-- England -->
            <h2>Property investment in Italy</h2>
            <ul>
                <li>Italian property guide</li>
                <li>Property prices in Italy</li>
                <li>Affordable housing in Italy</li>
                <li>Legal process of buying property in Italy</li>
                <li>Renting vs buying in Italy</li>
                <li>Property purchase process</li>
                <li>Notary fees in Italy</li>
                <li>Legal requirements for foreigners</li>
                <li>Tax benefits for property owners</li>
                <li>Capital gains tax in Italy</li>
            </ul>
            <!-- Germania -->
            <h2>Villen in Italien</h2>
            <ul>
                <li>Kaufvertrag in Italien</li>
                <li>Notargebühren in Italien</li>
                <li>Steuervorteile für Eigentümer</li>
                <li>Hypothekenzinssätze in Italien</li>
                <li>Rechtsberatung beim Immobilienkauf</li>
                <li>Vertragsunterzeichnung</li>
                <li>Eigentumsübertragung</li>
                <li>Immobilienprüfung</li>
                <li>Anzahlungserfordernisse</li>
                <li>Erbschaftssteuer in Italien</li>
            </ul>
            <!-- Russia -->
            <h2>Квартиры на продажу в Италии</h2>
            <ul>
                <li>Агентство недвижимости в Италии</li>
                <li>Элитные дома в Италии</li>
                <li>Виллы в Италии</li>
                <li>Квартиры с видом на море</li>
                <li>Договор купли-продажи в Италии</li>
                <li>Регистрация недвижимости</li>
                <li>Покупка недвижимости как нерезидент</li>
                <li>Наследственный налог в Италии</li>
                <li>Осмотр недвижимости</li>
                <li>Услуги нотариуса в Италии</li>
            </ul>
            <!-- Finlandia -->
            <h2>Luxuskiinteistöt Italiassa</h2>
            <ul>
                <li>Moderni asunto Italiassa</li>
                <li>Asuntojen hintataso Italiassa</li>
                <li>Omakotitalot alueilla</li>
                <li>Tilava keittiö merinäkymillä</li>
                <li>Kaksikerroksinen mökki</li>
                <li>Tyylikäs paritalo</li>
                <li>Keskustan asunnot</li>
                <li>Hiljainen naapurusto</li>
                <li>Maisemallinen sijainti</li>
                <li>Kodit lähellä julkisia palveluita</li>
            </ul>
            <!-- Chechia -->
            <h2>Dvoupodlažní chalupa</h2>
            <ul>
                <li>Stylový dvojdomek</li>
                <li>Byty ve městě</li>
                <li>Tichá čtvrť</li>
                <li>Krajinářská poloha</li>
                <li>Domovy blízko veřejných služeb</li>
                <li>Údržba nemovitostí</li>
                <li>Nezařízené byty</li>
                <li>Chalupy pro dovolenou</li>
                <li>Bezpečnost oblasti</li>
                <li>Topné systémy domů</li>
            </ul>
            <!-- Polonia -->
            <h2>Domy w spokojnych okolicach</h2>
            <ul>
                <li>Mieszkania w mieście</li>
                <li>Krajobrazowa lokalizacja</li>
                <li>Dom blisko usług publicznych</li>
                <li>Nieumeblowane mieszkania</li>
                <li>Bezpieczeństwo okolicy</li>
                <li>System ogrzewania domu</li>
                <li>Energooszczędne budynki</li>
                <li>Rodzinne domy dla dzieci</li>
                <li>Możliwości rowerowe</li>
                <li>Mieszkania na sprzedaż</li>
            </ul>
            <!-- Lituania -->
            <h2>Nekilnojamasis turtas su dideliu sklypu</h2>
            <ul>
                <li>Modernūs butai centre</li>
                <li>Nekilnojamojo turto kainos Italijoje</li>
                <li>Namai tyloje vietovėje</li>
                <li>Platus virtuvės plotas su vaizdu</li>
                <li>Dviejų aukštų sodyba</li>
                <li>Elegantiškas dvibutis</li>
                <li>Miesto butai</li>
                <li>Tyli miesto teritorija</li>
                <li>Kraštovaizdžio vieta</li>
                <li>Nekilnojamojo turto priežiūra</li>
            </ul>                                                                                    
        </div>
	<div class="up-section">
	</div>
	<div class="center-section">
<div class="left">
  <div class="block-agen">
    <div class="block block1">
      <div class="block-content">
        <h3><span data-i18n="cerca_region">Region</span>: Calabria</h3>
        <h3><span data-i18n="form_city">City</span>: Scalea</h3>
        <h3><span data-i18n="cerca_avenu">Avenue</span>: Corso Mediterraneo 123</h3>
        <a href="tel:+393791080060">Tel: +39 3791080060</a>
        <a href="mailto:scalea@italyscasa.com">Mail: scalea@italyscasa.com</a>
      </div>
      <a href="tel:+393791080060">
        <button class="glass-button" data-i18n="call">Call</button>
      </a>
    </div>

    <div class="block block2">
      <div class="block-content">
        <h3><span data-i18n="cerca_region">Region</span>: Lazio</h3>
        <h3><span data-i18n="form_city">City</span>: Rome</h3>
        <h3><span data-i18n="cerca_avenu">Avenue</span>: Via Appia 456</h3>
        <a href="tel:+393791080061">Tel: +39 3791080061</a>
        <a href="mailto:rome@italyscasa.com">Mail: rome@italyscasa.com</a>
      </div>
      <a href="tel:+393791080061">
        <button class="glass-button" data-i18n="call">Call</button>
      </a>
    </div>

    <div class="block block3">
      <div class="block-content">
        <h3><span data-i18n="cerca_region">Region</span>: England</h3>
        <h3><span data-i18n="form_city">City</span>: London</h3>
        <h3><span data-i18n="cerca_avenu">Avenue</span>: Oxford Street 789</h3>
        <a href="tel:+393791080062">Tel: +39 3791080062</a>
        <a href="mailto:london@italyscasa.com">Mail: london@italyscasa.com</a>
      </div>
      <a href="tel:+393791080062">
        <button class="glass-button" data-i18n="call">Call</button>
      </a>
    </div>

    <div class="block block4">
      <div class="block-content">
        <h3><span data-i18n="cerca_region">Region</span>: Campania</h3>
        <h3><span data-i18n="form_city">City</span>: Naples</h3>
        <h3><span data-i18n="cerca_avenu">Avenue</span>: Via Toledo 321</h3>
        <a href="tel:+393791080063">Tel: +39 3791080063</a>
        <a href="mailto:naples@italyscasa.com">Mail: naples@italyscasa.com</a>
      </div>
      <a href="tel:+393791080063">
        <button class="glass-button" data-i18n="call">Call</button>
      </a>
    </div>
  </div>
</div>

		<div class="right">
					          <!-- Форма обратной связи -->
            <div class="contact-form" id="contactForm">
                         <!-- Блок ввода данных -->
            <div class="form-content" id="inputForm">
                <h3 data-i18n="form_h3">Ask us a question</h3>
            <label for="phone" data-i18n="form_tel">Telephone:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="name" data-i18n="form_name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="surname" data-i18n="form_surname">Surname:</label>
            <input type="text" id="surname" name="surname" required>
                         
            <label for="city" data-i18n="nav_email">Mail:</label>
            <input type="mail" id="mail" name="mail" required>         

            <button class="submit-button" id="submitButton" type="button" data-i18n="form_butt">Send</button>
        </div>

                  <!-- Блок благодарности -->
            <div class="thank-you-message" id="thankYouMessage" style="display: none;">
                <h3 data-i18n="form_thank">Thank you for your request!</h3>
                <p data-i18n="form_thank_p">Our manager will contact you shortly for a more detailed consultation..</p>
            </div>
           </div>
		</div>
	</div>
</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="/script/valut.js"></script> 