---
layout: layout.njk
title: Cookies
---

<link rel="stylesheet" type="text/css" href="/styles/cookies.css">
<meta name="description" content="Nekilnojamojo turto agentūra Kalabrijos regione, pirkimas-pardavimas, nuoma, dokumentų tvarkymas, pagalba visuose sandorio etapuose"> 
<section class="hero-section">
        <div class="offscreen">
            <!-- italia -->
            <h2>Case in vendita</h2>
            <ul>
                <li>Terreni in vendita</li>
                <li>Proprieta residenziali</li>
                <li>Affari immobiliari</li>
                <li>Ville con piscina</li>
                <li>Ruderi e casali da restaurare</li>
                <li>Ruderi centro storico Scalea</li>
                <li>Case da restaurare</li>
                <li>Come fare una valutazione della casa</li>
                <li>Vendere casa online</li>
                <li>Mercato immobiliare Calabria</li>
            </ul>
            <!-- England -->
            <h2>Property in Scalea</h2>
            <ul>
                <li>Farmhouses in Italy</li>
                <li>Historic buildings</li>
                <li>Fixer-upper homes</li>
                <li>Country cottages</li>
                <li>Four-bedroom villas</li>
                <li>Buying property as a non-resident</li>
                <li>Property registration in Italy</li>
                <li>Down payment requirements</li>
                <li>Due diligence process</li>
                <li>Short-term rental income</li>
            </ul>
            <!-- Germania -->
            <h2>Lebensstil in Italien</h2>
            <ul>
                <li>Bergimmobilien in Kalabrien</li>
                <li>Immobilien nahe dem Meer</li>
                <li>Drei-Zimmer-Haus</li>
                <li>Immobilienregistrierung</li>
                <li>Rechtliche Anforderungen für Ausländer</li>
                <li>Immobilienversicherung in Italien</li>
                <li>Immobilienmanagementdienste</li>
                <li>Mediterranes Klima</li>
                <li>Wie kaufe ich ein Haus in Italien als Ausländer?</li>
                <li>Tipps für Investitionen in italienische Immobilien</li>
            </ul>
            <!-- Russia -->
            <h2>Юридические аспекты покупки недвижимости</h2>
            <ul>
                <li>Ипотека в Италии</li>
                <li>Аренда домов в Италии</li>
                <li>Квартиры в Тропея</li>
                <li>Горная недвижимость в Калабрии</li>
                <li>Инвестиционные возможности в Южной Италии</li>
                <li>Шаги для покупки недвижимости в Италии</li>
                <li>Лучшее время для покупки недвижимости в Италии</li>
                <li>Виллы в Катандзаро</li>
                <li>Апартаменты в Козенца</li>
                <li>Прибрежная недвижимость в Калабрии</li>
            </ul>
            <!-- Finlandia -->
            <h2>Asuntojen kunnossapito</h2>
            <ul>
                <li>Sisustamaton asunto</li>
                <li>Mökit lomalla</li>
                <li>Alueen turvallisuus</li>
                <li>Talon lämmitysjärjestelmä</li>
                <li>Energiatehokas rakennus</li>
                <li>Lastenystävälliset kodit</li>
                <li>Pyöräilyn mahdollisuudet</li>
                <li>Lähellä kauppoja ja ravintoloita</li>
                <li>Asuntojen myynnissä olevat kohteet</li>
                <li>Uudet asuntokompleksit</li>
            </ul>
            <!-- Chechia -->
            <h2>Energeticky účinné stavby</h2>
            <ul>
                <li>Rodinné domy pro děti</li>
                <li>Možnosti cyklistiky</li>
                <li>Blízko obchodů a restaurací</li>
                <li>Byty s mořským výhledem</li>
                <li>Nájemné byty v centru</li>
                <li>Prodej pozemků v Itálii</li>
                <li>Domy s garáží</li>
                <li>Rodinné domy se zahradou</li>
                <li>Moderní architektura domů</li>
                <li>Rekonstrukce starých domů</li>
            </ul>
            <!-- Polonia -->
            <h2>Nowe kompleksy mieszkaniowe</h2>
            <ul>
                <li>Sceneria do kupienia</li>
                <li>Ocena domu przed zakupem</li>
                <li>Podatki od nieruchomości we Włoszech</li>
                <li>Strony internetowe do sprzedaży nieruchomości</li>
                <li>Usługi pośredników nieruchomości</li>
                <li>Wyposażenie mieszkań</li>
                <li>Dostępność garażu</li>
                <li>Klasy energetyczne mieszkań</li>
                <li>Jakość powietrza w domu</li>
                <li>Mieszkanie z balkonem</li>
            </ul>
            <!-- Lituania -->
            <h2>Neįrengti butai</h2>
            <ul>
                <li>Poilsio sodybos</li>
                <li>Apsaugota vietovė</li>
                <li>Energiją taupantys pastatai</li>
                <li>Šeimoms tinkami namai</li>
                <li>Galimybė dviračių lenktynėms</li>
                <li>Arti parduotuvių ir restoranų</li>
                <li>Butai pardavimui</li>
                <li>Nauji butų kompleksai</li>
                <li>Vaizdo turinčios vietos pirkimas</li>
                <li>Namo vertinimas prieš pirkimą</li>
            </ul>                                                                                    
        </div>
    <div class="up-section">
    	
    </div>
	<div class="center">
<div class="info-cookie">
    {% for service in collections.services %}
        {% if loop.index == 4 %} 
            <div class="cookie-block">
                <h1>{{ service.data.h1 }}</h1>
                <h2>{{ service.data.h2 }}</h2>
                <h3>{{ service.data.h3 }}</h3>
            </div>
        {% endif %}
    {% endfor %}
</div>
	</div>
</section>