---
title: Home
layout: layout.njk
---
<link rel="stylesheet" type="text/css" href="/styles/Home.css">
        <script>
            window.Announcements = {{ collections.announcements | safe }};
        </script>
        <script>
          // Используем существующую коллекцию и безопасную сериализацию
          window.AllAnnouncements = {{ collections.announcements | safe }};
        </script>
        <script>
            window.Announcements = {{ collections.mapData | json | safe }};
        </script>

        <meta name="description" content="Agenzia immobiliare nella regione Calabria, acquisto, vendita, affitto, predisposizione documenti, assistenza in tutte le fasi della transazione">
<div class="hero-section">
<div class="offscreen">
<!-- italia -->
<h2>Vendita immobili</h2>
<ul>
<li>Acquisto casa</li>    
<li>Notaio immobiliare</li> 
<li>Appartamenti economici in Italia</li> 
<li>Case in vendita a Scalea con vista mare</li> 
<li>Case in vendita Calabria</li> 
<li>Prezzi immobiliari</li> 
<li>Annunci immobiliari</li> 
<li>Portali immobiliariTerreni edificabili in vendita a Cosenza</li> 
<li>Terreni edificabili in vendita a Cosenza</li> 
<li>Consulenza immobiliare</li> 
<li>Compra Prima o Seconda casa</li> 
<li>Riviera del cedri</li>
<li>Parco del pollino</li>
<li>Fiume Lao Scalea</li>
</ul>
<!-- England -->
<h2>Real estate in Italy</h2>
<ul>
<li>Real estate in Calabria</li>    
<li>Coastal homes in Italy</li> 
<li>Traditional Italian homes</li> 
<li>Studio apartments</li> 
<li>Buy-to-let properties</li> 
<li>Holiday homes in Italy</li> 
<li>Vacation rentals in Italy</li> 
<li>Real estate in Scalea</li> 
<li>Coastal properties in Calabria</li> 
<li>Properties near airports in Italy</li> 
</ul>
<!-- Germania -->
<h2>Immobilien in Italien</h2>
<ul>
<li>Wohnung kaufen in Italien</li>    
<li>Immobilienbewertung in Italien</li> 
<li>Haus kaufen in Scalea</li> 
<li>Immobilien in Kalabrien</li> 
<li>Sanierungsbedürftige Häuser</li> 
<li>Traditionelles italienisches Haus</li> 
<li>Kurzzeitmieteinnahmen</li> 
<li>Rendite auf italienische Immobilien</li> 
<li>Wie finde ich eine zuverlässige Immobilienagentur in Italien?</li> 
<li>Vor- und Nachteile des Hauskaufs in Italien</li> 
</ul>
<!-- Russia -->
<h2>Недвижимость в Италии</h2>
<ul>
<li>Продажа недвижимости в Италии</li>    
<li>Доступное жилье в Италии</li> 
<li>Недвижимость в Калабрии</li> 
<li>Прибрежные дома в Италии</li> 
<li>Вид на море</li> 
<li>Инвестиции в недвижимость в Италии</li> 
<li>Доход от краткосрочной аренды в Италии</li> 
<li>Лучшие места для покупки недвижимости в Италии</li> 
<li>Недвижимость в Скалея</li> 
<li>Квартиры рядом с туристическими достопримечательностями</li> 
</ul>
<!-- Finlandia -->
<h2>Kiinteistöt Italiassa</h2>
<ul>
<li>Investointi Italiassa</li>    
<li>Omakotitalo Scalea</li> 
<li>Villa</li> 
<li>Yksityinen uima-allas</li> 
<li>Uudelleenrakennettu koti</li> 
<li>Ilmastointi</li> 
<li>Vuokrattavat asunnot Italiassa</li> 
<li>Verotus Italiassa</li> 
<li>Vuokratulot Italiassa</li> 
<li>Lyhytaikainen vuokraus</li> 
</ul>
<!-- Chechia -->
<h2>Nemovitosti v Itálii</h2>
<ul>
<li>Byty k prodeji v Itálii</li>    
<li>Reálné ceny nemovitostí</li> 
<li>Moderní dům</li> 
<li>Soukromý bazén</li> 
<li>Nákupní smlouva</li> 
<li>Registrace nemovitosti</li> 
<li>Dlouhodobý pronájem</li> 
<li>Krátkodobý pronájem</li> 
<li>Domy v Scalea</li> 
<li>Život v Itálii</li> 
</ul>
<!-- Polonia -->
<h2>Nieruchomości we Włoszech</h2>
<ul>
<li>Inwestycje we Włoszech</li>    
<li>Domy w Scalea</li> 
<li>Nieruchomości w Kalabrii</li> 
<li>Dom jednorodzinny</li> 
<li>Nowoczesna willa</li> 
<li>Prywatny basen</li> 
<li>Ogród</li> 
<li>Umowa kupna-sprzedaży</li> 
<li>Wynajem mieszkań</li> 
<li>Wiejski dom</li> 
</ul>
<!-- Lituania -->
<h2>Nekilnojamasis turtas Italijoje</h2>
<ul>
<li>Nekilnojamasis turtas Italijoje</li>    
<li>Namas Scalea mieste</li> 
<li>Nekilnojamasis turtas Kalabrijoje</li> 
<li>Atskiras namas</li> 
<li>Privatus baseinas</li> 
<li>Pirkimo-pardavimo sutartis</li> 
<li>Nuomos pajamos Italijoje</li> 
<li>Trumpalaikė nuoma</li> 
<li>Kaimo sodyba</li> 
<li>Butas</li> 
</ul>
</div>

    <div class="search-bar-container">


        <div class="search-bar-options" id="searchBarOptions">
            <span onclick="updateSearchQuery('Vendita Provincia, Comune, Zona, Riferimento', 'VENDITA')">VENDITA</span>
            <a href="/valut">
            <span>VALUTAZIONE</span>
            </a>
            <a href="/affitti">
            <span>AFFITTO</span>
            </a>
            <div class="active-underline"></div>
            <div class="static-underline"></div>
        </div>
        <div class="search-bar" style="position: relative;">
            <img alt="All'agenzia immobiliare" src="/Foto/Icon/Home.svg" alt="Home Icon" class="icon">
            <input type="text" id="searchInput" placeholder="Provincia, Comune, Zona, Riferimento">
            <button id="clearSearch" class="search-clear">×</button>
            <img alt="Ricerca immobili" src="/Foto/Icon/Search.svg" alt="Search Icon" class="icon">
        </div>
    </div>
</div>

<section id="about">
    <div class="content-section"> 
        <div class="mapp-container">
            <div id="map" class="map"></div>
        </div>
        <div class="content-bottom">
                    <div class="icons1">
                <a href="https://api.whatsapp.com/send?phone=393791080060&text=Salve%20Da%20Sito" target="_blank" class="whatsapp-icon">
                    <img alt="Contatto diretto con l'agenzia" src="/Foto/Icon/whats.svg" class="icon whatsapp-icon1">
                </a>
                <a href="tel:+393791080060">
                   <img alt="Numero dell'agenzia immobiliare" src="/Foto/Icon/tel.svg" class="icon1">
                </a>
            </div> 
            <!-- Отображаем только 10 блоков на странице -->
{% set count = 0 %}
{% for announcement in collections.announcements %}
    <div class="bottom-block" 
         data-id="{{ announcement.data.riferimento }}" 
         data-riferimento="{{ announcement.data.riferimento }}" 
         data-city="{{ announcement.data.city1 }}" 
         data-zona="{{ announcement.data.nomeZona }}" 
         data-tipo="{{ announcement.data.tipo }}"
         {% if count < 10 %}
             style="display: block;"
         {% else %}
             style="display: none;"
         {% endif %}>
        <!-- Карусель -->
        <div class="carousel-container">
            {% for image in announcement.data.images %}
                <img loading="lazy" alt="Immobiliare in Italia" 
                     src="/{{ image }}" 
                     class="carousel-image {% if loop.index0 == 0 %}active{% endif %}" 
                     alt="Property Image">
            {% endfor %}
            <button class="carousel-btn prev">&#10094;</button>
            <button class="carousel-btn next">&#10095;</button>
        </div>
        <!-- Информация об объекте -->
        <a class="info-block1" href="/anunci/{{ announcement.fileSlug }}/">
            <div class="info-anunci">{{ announcement.data.nomeAnunci }}</div>
        </a>
        <div class="price">
            <a class="euro" href="/anunci/{{ announcement.fileSlug }}/">{{ announcement.data.prezzo }} €</a>
            <a class="rif" href="/anunci/{{ announcement.fileSlug }}/">RIF {{ announcement.data.riferimento }}</a>
        </div>
        <div class="details">
            <span><img alt="Casa" src="/Foto/Icon/mq.svg">{{ announcement.data.zonam2 }}</span>
            <span><img alt="Camere da letto" src="/Foto/Icon/locale.svg">{{ announcement.data.rooms }}</span>
            <span><img alt="Ascensore" src="/Foto/Icon/lift.svg">{{ announcement.data.elevator }}</span>
            <span><img alt="Terrazza" src="/Foto/Icon/terazza.svg">{{ announcement.data.terrazzo }}</span>
            <span><img alt="Bagno" src="/Foto/Icon/bagno.svg">{{ announcement.data.bagni }}</span>
            <span><img alt="Pavimento" src="/Foto/Icon/piano.svg">{{ announcement.data.floor }}</span>
        </div>
        <div class="cta">
            <a href="/anunci/{{ announcement.fileSlug }}/" class="glass-link">
                <button class="glass-button" id="contatButton">Vedi Immobile</button>
            </a>
        </div>
    </div>
    {% set count = count + 1 %}
{% endfor %}

<!-- Кнопка "Показать ещё" -->
<div class="button-anunci" id="loadMoreContainer">
    <button id="loadMoreButton">Mostra altri annunci</button>
</div>
    </div>
        <div class="map-media">
        <div id="mapMedia" class="mapMed"></div>
        </div>
        
    </div>
</section>

    <section id="services">
        <div class="serv-info">
            <div class="serv-text">
                Perchè scegliere la nostra Agenzia
            </div>  
          <div class="serv-block">
        {% set count = 0 %}
        {% for service in collections.services %}
        {% if count < 3 %}    
        <div class="serv-block-1">
            <!-- Изображение -->
            <span class="circle-image">
                <img alt="Servizi di agenzia immobiliare" src="{{ service.data.images[0] | default('/Foto/default.jpg') }}" alt="Service Image">
            </span>

            <!-- Заголовок и описание -->
            <p class="serv-h1">{{ service.data.tipo }}</p>
            <p class="serv-h2">{{ service.data.text }}</p>

            <!-- Кнопка -->
            <div class="cta1">
                <a href="{{ service.data.link | default('#') }}" class="glass-link">
                <button class="glass-button">Scopri di più</button>
                </a>
            </div>
        </div>
                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}
          </div>
        </div>
        
             <div class="recension-blok">
             <div class="dicono"><p>Dicono di noi</p> <hr class="dicono-line" > </div>
                <div class="reviews-block" id="reviews-block">               
                <h2>ECCELLENTE</h2>
                <img alt="La migliore agenzia immobiliare a Scalea" src="/Foto/Icon/star-recen.svg"> <img alt="Recensioni migliori" src="/Foto/Icon/star-recen.svg"> <img alt="Proprietà verificata" src="/Foto/Icon/star-recen.svg"> <img alt="Un'agenzia con una reputazione" src="/Foto/Icon/star-recen.svg"> <img alt="Recensioni oneste" src="/Foto/Icon/star-recen.svg">
                <p>Recensioni : <span id="rating"></span></p>
                <a href="https://www.google.com/maps/place/Italys+Casa/@39.8078084,15.7949074,17.29z/data=!4m8!3m7!1s0x133f1f76f2dbd021:0x3ecbf0ad012a76a4!8m2!3d39.8084272!4d15.7937194!9m1!1b1!16s%2Fg%2F11vwkq4wj_?hl=ru&entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Visualizza tutte le recensioni su Google Maps</a>
                </div>
             </div>  
    </section>


        <script src="/script/scriptHome.js"></script>
  
