---
layout: layout.njk
title: Lavoro Con Noi
description: Gníomhaireacht eastáit réadaigh sa réigiún Calabria, ceannach agus díol, cíos, páipéarachas, cúnamh ag gach céim den idirbheart.
---

<link rel="stylesheet" type="text/css" href="/styles/lavoro.css"> 
<section class="hero-section">
        <div class="offscreen">
            <!-- italia -->
            <h2>Immobili nel centro storico </h2>
            <ul>
                <li>Come pubblicizare corretamente immobile</li>
                <li>Vendere casa velocemente</li>
                <li>Come fare un annuncio per vendere casa</li>
                <li>Quanto costa vendere una casa</li>
                <li>Vendere casa senza commissioni</li>
                <li>Contratto di vendita casa</li>
                <li>Scalea immobili</li>
                <li>Case in vendita a Scalea</li>
                <li>Spiagge di Tropea</li>
                <li>Prezzo competitivo</li>
            </ul>
            <!-- England -->
            <h2>Beachfront properties in Calabria</h2>
            <ul>
                <li>Apartments in Reggio Calabria</li>
                <li>Mountain properties in Calabria</li>
                <li>Real estate near the sea in Italy</li>
                <li>Properties with sea views in Calabria</li>
                <li>Top-floor apartments</li>
                <li>Commercial properties</li>
                <li>Property inspection</li>
                <li>Transfer of ownership</li>
                <li>Italian lifestyle</li>
                <li>How to buy a house in Italy as a foreigner</li>
            </ul>
            <!-- Germania -->
            <h2>Immobilienmakler in Italien</h2>
            <ul>
                <li>Luxushäuser in Italien</li>
                <li>Günstige Wohnungen in Italien</li>
                <li>Ferienwohnungen in Italien</li>
                <li>Strandimmobilien in Kalabrien</li>
                <li>Appartement</li>
                <li>Historisches Gebäude</li>
                <li>Luxusvilla</li>
                <li>Penthouse</li>
                <li>Erdgeschosswohnung</li>
                <li>Finanzierungsoptionen für Ausländer</li>
            </ul>
            <!-- Russia -->
            <h2>Квартиры в Сицилии</h2>
            <ul>
                <li>Недвижимость на Амальфитанском побережье</li>
                <li>Вилла</li>
                <li>Отдельно стоящий дом</li>
                <li>Фермерский дом</li>
                <li>Юридические требования для иностранцев</li>
                <li>Финансовые варианты для иностранцев</li>
                <li>Передача права собственности</li>
                <li>Курсы итальянского языка</li>
                <li>Как купить дом в Италии как иностранец?</li>
                <li>Самые дешевые регионы для покупки дома в Италии</li>
            </ul>
            <!-- Finlandia -->
            <h2>Vanhat perinteiset talot</h2>
            <ul>
                <li>Maisemakohteen ostaminen</li>
                <li>Talon arviointi ennen ostoa</li>
                <li>Asuntojen verotus Italiassa</li>
                <li>Nettisivut kiinteistöjen myynnille</li>
                <li>Kiinteistönvälittäjän palvelut</li>
                <li>Asuntojen varustelu</li>
                <li>Autotallin saatavuus</li>
                <li>Ympäristöystävälliset kodit</li>
                <li>Asuntojen energiamerkinnät</li>
                <li>Talon sisäilman laatu</li>
            </ul>
            <!-- Chechia -->
            <h2>Nemovitosti pro investice</h2>
            <ul>
                <li>Byty blízko pláže</li>
                <li>Domy s terasou</li>
                <li>Prodej vil u jezera</li>
                <li>Byty s balkonem</li>
                <li>Nemovitosti s historickou hodnotou</li>
                <li>Novostavby v klidných oblastech</li>
                <li>Luxusní apartmány v centru</li>
                <li>Domy s více koupelnami</li>
                <li>Byty s vysokými stropy</li>
                <li>Rodinné domy s krbem</li>
            </ul>
            <!-- Polonia -->
            <h2>Historia i tło domu</h2>
            <ul>
                <li>Domek w spokoju lasu</li>
                <li>Porównanie cen nieruchomości</li>
                <li>Lokalizacja domu na mapie</li>
                <li>Społeczność sąsiadów</li>
                <li>Rok budowy domu</li>
                <li>Oferty wyposażenia mieszkań</li>
                <li>Chatki blisko jezior</li>
                <li>Akustyka domu</li>
                <li>Spokojne obszary mieszkalne</li>
                <li>Oświetlenie mieszkań</li>
            </ul>
            <!-- Lituania -->
            <h2>Nekilnojamojo turto mokesčiai Italijoje</h2>
            <ul>
                <li>Internetinės svetainės nekilnojamajam turtui</li>
                <li>Turto agentų paslaugos</li>
                <li>Garažo galimybė</li>
                <li>Ekologiški namai</li>
                <li>Butų energijos klasės</li>
                <li>Oro kokybė name</li>
                <li>Balkonu turintis butas</li>
                <li>Namo istorija ir fonas</li>
                <li>Sodyba miško tyloje</li>
                <li>Nekilnojamojo turto kainų palyginimas</li>
            </ul>                                                                                    
        </div>
        <div class="up-section">
    	  <div class="up-left">
    	  	<h1 data-i18n="lavoro_h1">So what are you waiting for?</h1>
    	  	<h2 data-i18n="lavoro_h2"> Candidates!</h2>
    	  	<h3 data-i18n="lavoro_h3">If you have a high school or university education and a strong aptitude for interpersonal relationships, send us your Curriculum Vitae. You will be able to start an interesting and dynamic profession, acquire multidisciplinary knowledge and have great satisfaction.</h3>
    	  </div>
    	  <div class="up-right">
    	  	<div class="up-img">
    	  	</div>
    	  </div>
        </div>
        <div class="dawn-section">
                <h3 data-i18n="cv_h3">Send us your CV</h3>
		          <!-- Форма обратной связи -->
<div class="contact-form" id="contactForm">
    <div class="form-content" id="inputForm">
        <input type="text" id="name" name="name" placeholder="Name" data-i18n-placeholder="form_name" required>
        <input type="text" id="surname" name="surname" placeholder="Surname" data-i18n-placeholder="form_surname" required>
        <input type="text" id="mail" name="mail" placeholder="eMail" data-i18n-placeholder="nav_email" required>
        <input type="tel" id="phone" name="phone" placeholder="Telephono" data-i18n-placeholder="form_tel" required>
        <input type="tex" id="zona" name="zona" placeholder="Province" data-i18n-placeholder="form_prov" required>
        <input type="tex" id="city" name="city" placeholder="Municipality" data-i18n-placeholder="form_muni" required>
        <button class="submit-button" id="submitButton" type="button" data-i18n="form_butt">Send</button>
    </div>
                      <!-- Блок благодарности -->
            <div class="thank-you-message" id="thankYouMessage" style="display: none;">
                <h3 data-i18n="form_thank">Thank you for your request!</h3>
                <p data-i18n="form_thank_p">Our manager will contact you shortly for a more detailed consultation..</p>
            </div>
</div>      
        </div>
	
</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script src="/script/valut.js"></script> 