---
title: Anunci
layout: layout.njk
pagination:
    data: collections.announcements
    size: 10
    alias: pageAnnouncements
---
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles/Property.css">
        <script>
            window.Announcements = {{ collections.announcements | safe }};
        </script>
        <script>
            window.Announcements = {{ collections.mapData | json | safe }};
        </script>
        <meta name="description" content="Real estate agency in the Calabria region, purchase and sale, rent, paperwork, assistance at all stages of the transaction">        
        <section class="hero-section">
        <div class="offscreen">
            <!-- italia -->
            <h2>Appartamenti in vendita</h2>
            <ul>
                <li>Ville di lusso</li>
                <li>Affari casa a Scalea</li>
                <li>Case nel centro storico</li>
                <li>Casa albergo </li>
                <li>Appartamenti in affitto </li>
                <li>Affitto villa con piscina</li>
                <li>Vendita casa privato</li>
                <li>Vendere casa da soli</li>
                <li>Quadrilocale</li>
                <li>Terreno edificabile</li>
            </ul>
            <!-- England -->
            <h2>Buy property in Italy</h2>
            <ul>
                <li>Houses for sale in Italy</li>
                <li>Buying a home in Italy</li>
                <li>Property taxes in Italy</li>
                <li>Houses for sale in Tropea</li>
                <li>Countryside houses in Italy</li>
                <li>Homes in Amalfi Coast</li>
                <li>Apartments for sale</li>
                <li>Rustic properties</li>
                <li>Renovated properties</li>
                <li>Two-bedroom apartments</li>
            </ul>
            <!-- Germania -->
            <h2>Haus kaufen in Italien</h2>
            <ul>
                <li>Häuser zum Verkauf in Italien</li>
                <li>Immobilieninvestitionen in Italien</li>
                <li>Hypotheken in Italien</li>
                <li>Appartements in Reggio Calabria</li>
                <li>Küstenhäuser in Italien</li>
                <li>Wohnungen am Comer See</li>
                <li>Einfamilienhaus</li>
                <li>Rustikale Immobilie</li>
                <li>Renovierte Immobilien</li>
                <li>Privatpool</li>
            </ul>
            <!-- Russia -->
            <h2>Рынок недвижимости в Италии</h2>
            <ul>
                <li>Инвестиции в недвижимость в Италии</li>
                <li>Цены на недвижимость в Италии</li>
                <li>Налоги на недвижимость в Италии</li>
                <li>Дома в Скалея</li>
                <li>Апартаменты в Реджо-ди-Калабрия</li>
                <li>Недвижимость с видом на Море</li>
                <li>Дома у озера Комо</li>
                <li>Отремонтированные дома</li>
                <li>Трехкомнатный дом</li>
                <li>Квартира на первом этаже</li>
            </ul>
            <!-- Finlandia -->
            <h2>Talon ostaminen Italiassa</h2>
            <ul>
                <li>Italiassa sijaitsevat talot</li>
                <li>Asunto Reggio Calabriassa</li>
                <li>Kalabrian rannikko</li>
                <li>Erillistalo</li>
                <li>Merinäkymä</li>
                <li>Takka</li>
                <li>Lainat ulkomaalaisille</li>
                <li>Pitkäaikainen vuokraus</li>
                <li>Oikeusasiat</li>
                <li>Kiinteistön ostosopimus</li>
            </ul>
            <!-- Chechia -->
            <h2>Koupě domu v Itálii</h2>
            <ul>
                <li>Investice do nemovitostí v Itálii</li>
                <li>Byty v Tropea</li>
                <li>Nemovitosti v Kalábrii</li>
                <li>Renovovaný dům</li>
                <li>Airbnb v Itálii</li>
                <li>Hypotéky pro cizince</li>
                <li>Garáž</li>
                <li>Balkón</li>
                <li>Výhled na moře</li>
                <li>Venkovský dům</li>
            </ul>
            <!-- Polonia -->
            <h2>Kupno domu we Włoszech</h2>
            <ul>
                <li>Mieszkania na sprzedaż we Włoszech</li>
                <li>Mieszkania w Tropea</li>
                <li>Wille w Reggio Calabria</li>
                <li>Airbnb we Włoszech</li>
                <li>Długoterminowy wynajem</li>
                <li>Doradztwo prawne</li>
                <li>Doradztwo prawne</li>
                <li>Klimatyzacja</li>
                <li>Hipoteka dla cudzoziemców</li>
                <li>Rejestracja nieruchomości</li>
            </ul>
            <!-- Lituania -->
            <h2>Namų pardavimas Italijoje</h2>
            <ul>
                <li>Investicijos į nekilnojamąjį turtą Italijoje</li>
                <li>Ilgalaikė nuoma</li>
                <li>Turto registravimas</li>
                <li>Turto registravimas</li>
                <li>Pietų Italija</li>
                <li>Butai Tropea mieste</li>
                <li>Vilos Reggio Calabria regione</li>
                <li>Airbnb Italijoje</li>
                <li>Teisinė konsultacija</li>
                <li>Garažas</li>
            </ul>                                                                                    
        </div>
            <div class="text-but-top">
                 <a href="#">ItalysCasa</a>
                 <a href="#">Provincia di Cosenza</a>
                 <a href="#">Scalea</a>
                <div class="counter">
                 <p> {{ collections.announcements | length }} Case in vendita</p>
            </div> 
            <div class="salva-ricerca">
                 <p>Nuovi annunci nella tua Email</p>
                 <a href="#" id="saveSearch" class="glass-link">
                 <button class="glass-button1">Salva Ricerca</button>
                 </a>
            </div>
            </div> 
                         <div class="vedi-map">
                 <a href="#" class="glass-link">
                 <button class="glass-button1">Vedi sulla mappa</button>
                 </a>
             </div>
             <div class="ven-afit">
                <a href="#">Vendita</a>
                <a href="/affitti">Affitto</a>
                <a href="/valut">Vendute</a>                 
             </div>
        </section>

        <section id="about">
<div class="content-section">
    <!-- Левая секция с картой -->
    <div class="mapp-container">
        <div id="map" class="map"></div>
        <div class="cerca-form">
            <p>Non hai trovato un immobile adatto?</p>
            <a href="#" id="openModal" class="glass-link">
            <button class="glass-button1">Scrivici</button>
            </a>
        </div>
    </div>

    <!-- Правая секция с блоками объявлений -->
        <div class="content-bottom">
            <!-- Отображаем только 10 блоков на странице -->
            {% for announcement in pageAnnouncements %}
            <div class="bottom-block" data-id="{{ announcement.data.riferimento }}">
                <!-- Карусель -->
                <div class="carousel-container">
                    {% for image in announcement.data.images %}
                    <img alt="Imobiliare sul mare" src="/{{ image }}" class="carousel-image {% if loop.index0 == 0 %}active{% endif %}" alt="Property Image">
                    {% endfor %}
                    <button class="carousel-btn prev">&#10094;</button>
                    <button class="carousel-btn next">&#10095;</button>
                </div>
            <div class="ven-info">
                <div class="ven-1">
                    <a href="/anunci/{{ announcement.fileSlug }}/">{{ announcement.data.nomeAnunci }}</a>
                </div>
                <div class="ven-2">
                    <a href="/anunci/{{ announcement.fileSlug }}/" class="ven-price">{{ announcement.data.prezzo }} €</a>
                    <a href="/anunci/{{ announcement.fileSlug }}/" class="ven-rif">RIF {{ announcement.data.riferimento }}</a>
                </div>
                <div class="moreinfo1">
                    <p>{{ announcement.data.text1 | truncate(400) }}</p>
                </div>
                <div class="ven-icon">
                    <span><img alt="Casa" src="/Foto/Icon/mq.svg" alt="Area Icon">{{ announcement.data.zonam2 }}</span>
                    <span><img alt="Camere da letto" src="/Foto/Icon/locale.svg" alt="Rooms Icon">{{ announcement.data.rooms }}</span>
                    <span><img alt="Ascensore" src="/Foto/Icon/lift.svg" alt="Elevator Icon">{{ announcement.data.elevator }}</span>
                    <span><img alt="Terazza" src="/Foto/Icon/terazza.svg">{{ announcement.data.terrazzo }}</span>
                    <span><img alt="Bagno" src="/Foto/Icon/bagno.svg" alt="Bathrooms Icon">{{ announcement.data.bagni }}</span>
                    <span><img alt="Pavimento" src="/Foto/Icon/piano.svg" alt="Floor Icon">{{ announcement.data.floor }}</span>
                </div>
                <div class="cta-container">
                    <div class="cta">
                        <a href="/anunci/{{ announcement.fileSlug }}/">
                        <button class="glass-button" id="contatButton">Vedi Immobile</button>
                        </a>
                    </div>
                    <div class="cta-icon">
                        <a href="https://api.whatsapp.com/send?phone=393791080060&text=Salve%20Da%20Sito" target="_blank">
                            <img src="/Foto/Icon/whats.svg" alt="WhatsApp" class="waicon">
                        </a>
                        <a href="tel:+393791080060">
                            <img src="/Foto/Icon/tel.svg" alt="Phone" class="pfoneicon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


<!-- Пагинация -->
<div class="pagination">
    <!-- Кнопка "❮" для предыдущей страницы -->
    {% if pagination.href.previous %}
    <button onclick="location.href='{{ pagination.href.previous }}'" title="Предыдущая страница">❮</button>
    {% else %}
    <button disabled style="opacity: 0.5; cursor: default;" title="Это первая страница">❮</button>
    {% endif %}

    <!-- Номера страниц -->
    {% set currentPage = pagination.pageNumber %}
    {% set totalPages = pagination.pagesTotal %}
    
    <!-- Логика для отображения трёх кнопок (всегда включает текущую страницу) -->
    {% set startPage = currentPage - 1 %}
    {% set endPage = currentPage + 1 %}

    <!-- Корректировка границ, чтобы не выходить за пределы общего количества страниц -->
    {% if startPage < 1 %}
        {% set startPage = 1 %}
        {% set endPage = 3 %}
    {% endif %}
    {% if endPage > totalPages %}
        {% set endPage = totalPages %}
        {% set startPage = totalPages - 2 %}
    {% endif %}
    {% if startPage < 1 %}
        {% set startPage = 1 %}
    {% endif %}

    <!-- Генерация кнопок -->
    {% for pageNumber in range(startPage, endPage + 1) %}
        <button 
            onclick="location.href='/{{ pageNumber }}'" 
            {% if pageNumber == currentPage %}class="active"{% endif %}
            title="Страница {{ pageNumber }}"
        >
            {{ pageNumber }}
        </button>
    {% endfor %}

    <!-- Кнопка "❯" для следующей страницы -->
    {% if pagination.href.next %}
    <button onclick="location.href='{{ pagination.href.next }}'" title="Следующая страница">❯</button>
    {% else %}
    <button disabled style="opacity: 0.5; cursor: default;" title="Это последняя страница">❯</button>
    {% endif %}
</div>

    </div>

        <div class="map-media">
        <div id="mapMedia" class="mapMed"></div>
        </div>
</div>

          <!-- Форма обратной связи -->
<!-- Модальное окно -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- Форма обратной связи -->
        <div class="contact-form" id="contactForm">
            <!-- Блок ввода данных -->
            <div class="form-content" id="inputForm">
                <h3>Facci una domanda</h3>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>

                <label for="surname">Cognome:</label>
                <input type="text" id="surname" name="surname" required>

                <label for="phone">Telefono:</label>
                <input type="tel" id="phone" name="phone" required>

                <label for="text">Testo</label>
                <textarea id="text" name="text" required></textarea>

                <button class="submit-button" id="submitButton" type="button">Inviare</button>
            </div>

            <!-- Блок благодарности -->
            <div class="thank-you-message" id="thankYouMessage" style="display: none;">
                <h3>Grazie per la tua richiesta!</h3>
                <p>Il nostro responsabile ti contatterà a breve per una consulenza più dettagliata.</p>
            </div>
        </div>
    </div>
</div>

</section>

<script src="/script/property.js"></script>  

